/* src/pages/Home/Home.module.css */

.home {
  background-color: #d35400; /* Naranja oscuro */
  min-height: 100vh;
}

.hero {
  background-color: #b34700; /* Fondo oscuro semitransparente */
}

.carouselSection {
  width: 100%;
  background-color: #fff3e0;
}

.footer {
  background-color: #4e342e;
  border-top: 2px solid #922b21;
}

/* Este es el contenedor de toda la página */
.pageContainer {
  display: flex; /* Activa el layout flexible */
  flex-direction: column; /* Apila los elementos verticalmente (Navbar, main, Footer) */
  min-height: 100vh; /* ¡LA CLAVE! Le dice que ocupe como mínimo el 100% de la altura de la pantalla del navegador. */
}

/* Este es el contenedor del contenido principal (todo lo que no es Navbar ni Footer) */
.contentWrap {
  flex-grow: 1; /* ¡LA OTRA CLAVE! Le dice a la sección del contenido que "crezca" y ocupe todo el espacio vertical disponible, empujando así al Footer hasta el fondo. */
}